\.*
core
media/
run/
initrd.img
vmlinuz
boot/
sbin/
bin/
usr/
lib/
var/
tmp/
opt/
proc/
sys/
etc/init.d/.depend.*
dev/
home/
etc/*
etc/rc?.d/
!etc/insserv/*
!etc/insserv/overrides/*
!etc/sysctl.d/*
mnt/
!etc/X11/xorg.conf.d/*
/root/build
